export(ywGetToken)
export(ywGetUserId)
export(ywGetSitesList)
export(ywAddSite)
export(ywDeleteSite)
export(ywGetSiteInfo)
export(ywGetSiteSummary)
export(ywGetBacklinks)
export(ywGetPopQueries)
export(ywGetSitemaps)
export(ywGetSitemapInfo)
export(ywGetUserAddedSitemaps)
export(ywGetUserAddedSitemapInfo)
export(ywAddSitemap)
export(ywDeleteSitemap)
export(ywGetIndexingHistory)
export(ywGetTicHistory)
export(ywGetBacklinksHistory)
importFrom(httr,POST)
importFrom(httr,GET)
importFrom(httr,DELETE)
importFrom(httr,stop_for_status)
importFrom(httr,content)
importFrom(httr,add_headers)
